.layout {
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: var(--zIndexTopbar);
}

.main {
  display: grid;
  scroll-margin-top: var(--topbarHeight);

  @media (--viewportMedium) {
    scroll-margin-top: var(--topbarHeightDesktop);
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(#landing-hero) {
  margin-top: -105px;
  padding-top: 105px;

  &>div:last-child {
    padding-bottom: 165px;
  }
& header{
  display: block;
}
  & header h1 {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #0772F6;
    padding: 4px 8px;
    background: #0772F633;
    justify-self: center;
    border-radius: 4px;
  }

  & header~div {
    padding-top: 24px;
    max-width: 901px;

    & h3 {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 56px;
      leading-trim: NONE;
      line-height: 66px;
      letter-spacing: -2%;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
      }

    }

    & p {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      margin-top: 31px;
      max-width: 689px;
    }

    & a {
      background: linear-gradient(180deg, #3B93FF 0%, #0772F6 48.51%, #0552B5 100%);
      border-radius: 8px;
      font-family: Poppins;
      font-weight: 700;
      font-style: Bold;
      font-size: 20px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      box-shadow: 0px 6px 0px 0px #033A85;

      box-shadow: 0px 6px 14px 0px #0772F666;
      padding: 16px 29px;
      margin-top: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      @media (max-width: 768px) {
        font-size: 16px;
        padding: 12px 24px;
        justify-self: center;
      }
      @media (max-width: 480px) {
        font-size: 14px;
        padding: 10px 20px;
      }

      &:after {
        content: '';

        display: block;
        width: 34px;
        height: 34px;
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.597 22.1401C21.5001 22.122 21.4077 22.0851 21.3251 22.0313C21.2425 21.9775 21.1713 21.908 21.1156 21.8267C21.0599 21.7454 21.0208 21.6539 21.0004 21.5574C20.9801 21.461 20.979 21.3615 20.9971 21.2646L22.4182 13.6607L10.3003 21.9639C10.1362 22.0764 9.9342 22.119 9.73867 22.0825C9.54314 22.0459 9.37013 21.9332 9.2577 21.7692C9.14526 21.6051 9.10262 21.403 9.13914 21.2075C9.17567 21.012 9.28837 20.839 9.45246 20.7265L21.5704 12.4234L13.9663 11.0035C13.7706 10.967 13.5975 10.8542 13.485 10.6901C13.3725 10.5259 13.3299 10.3237 13.3664 10.1281C13.403 9.93245 13.5157 9.75935 13.6799 9.64685C13.8441 9.53435 14.0462 9.49169 14.2419 9.52823L23.6255 11.2811C23.7224 11.2992 23.8148 11.3361 23.8974 11.3899C23.98 11.4437 24.0512 11.5132 24.1069 11.5945C24.1626 11.6758 24.2017 11.7673 24.2221 11.8638C24.2424 11.9602 24.2435 12.0597 24.2254 12.1566L22.4725 21.5402C22.4544 21.6371 22.4174 21.7295 22.3637 21.8121C22.3099 21.8947 22.2404 21.9659 22.1591 22.0216C22.0778 22.0773 21.9863 22.1164 21.8898 22.1368C21.7934 22.1571 21.6939 22.1582 21.597 22.1401Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 34px 34px;
        background-repeat: no-repeat;
        background-position: center;


      }
    }
  }
}

:global(#trusted-by) {
  & header {
    display: block;

    & h2 {
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
      color: #414141;
      padding: 0;
      max-width: 100%;
      text-align: center;
      width: 100%;
    }

    &~div {
      display: flex;
      justify-content: center;

      &>div {
        height: 72px;
        flex: 1;
        max-width: 148px;

        &:nth-child(2n) {
          & img {
            background: #000;
          }
        }

        & [class*="AspectRatioWrapper_aspectPadding"] {
          padding: 0 !important;
          min-height: 72px;

          & img {
            object-fit: contain;
          }
        }
      }
    }
  }
}

:global(#why-choose-mento) {
  & header {
    & h2 {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #0772F6;
      padding: 4px 8px;
      background: #0772F633;
      border-radius: 4px;
      justify-self: center;
    }

    & p {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 50px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
      }

    }

    & a {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      background: transparent;
      box-shadow: none;
      padding: 0;
      pointer-events: none;
      border: 0;
      max-width: 689px;
      display: block;
      margin: 20px auto;
      color: #FFFFFF99;

      &:hover {
        background: transparent;
        padding: 0;
        box-shadow: none;
      }
    }

    &~div {
      &>div {
        border: 2px solid #24242B;
        border-radius: 50px;
        background: #111119;
        padding-top: 134px;
        padding-bottom: 134px;

        @media (max-width: 768px) {
         padding: 50px 16px;

        }
    
        & [class*="BlockDefault_media"] {
          width: 97px;
          height: 65px;
          border-radius: 70px;
          margin: 0 auto;

          & div {
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          & img {
            width: 34px;
            height: 34px;
            object-fit: contain;

          }
        }

        & h3 {
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 32px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          text-transform: uppercase;

        }

        & p {
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          max-width: 361px;
          margin: 20px auto 0;
        }

        & a {
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 20px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;

          border-radius: 100px;
          padding: 16px 29px;
          background: #0772F6;
          max-width: 361px;
          width: 100%;
          @media (max-width: 768px) {
            font-size: 16px;
            padding: 12px 24px;
            justify-self: center;
            text-align: center;
          }
        }

        &:nth-child(1) {
          & [class*="BlockDefault_media"] {

            background: linear-gradient(0deg, #071745 0%, #0772F6 100%);

          }
        }

        &:nth-child(2) {
          & h3 {
            color: #FD5B2C;
          }

          & a {
            background: #FD5B2C;
            border: 1px solid #FD5B2C;
          }

          & [class*="BlockDefault_media"] {

            background: linear-gradient(0deg, #A82601 0%, #FD5B2C 100%);


          }
        }
      }
    }
  }
}

:global(#features) {
  & header {
    & h2 {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #0772F6;
      padding: 4px 8px;
      background: #0772F633;
      border-radius: 10px;
      justify-self: center;
    }

    & p {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 50px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
      }
    }

    & a {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      background: transparent;
      box-shadow: none;
      padding: 0;
      pointer-events: none;
      border: 0;
      max-width: 689px;
      display: block;
      margin: 20px auto;
      color: #00000099;

      &:hover {
        background: transparent;
        padding: 0;
        box-shadow: none;
      }
    }

    &~div {
      max-width: 1440px;

      @media (min-width: 768px) {
        padding-left: 64px;
        padding-right: 64px;
        gap: 16px;
        grid-template-columns: repeat(4, calc((100% - 3 * 16px) / 4));

        
      }

      & [class*="BlockDefault_media"] {
        width: 97px;
        height: 65px;
        border-radius: 70px;
        background: #0772F633;

        & div {
          padding: 0 !important;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & img {
          width: 34px;
          height: 34px;
          object-fit: contain;

        }
      }

      & h3 {
        font-family: Poppins;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        leading-trim: NONE;
        line-height: 32px;
        letter-spacing: 0%;
        text-transform: uppercase;
        color: #0772F6;
      }

      & p {
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        leading-trim: NONE;
        line-height: 100%;
        letter-spacing: 0%;

        color: #000;
      }

      &>div {
        box-shadow: 2px 2px 20px 0px #0772F633;
        border: 1px solid #0772F61A;
        border-radius: 50px;
        padding: 60px 50px;
        position: relative;
        @media (max-width: 768px) {
          padding: 40px 32px;
        }
        @media (max-width: 480px) {
          padding: 42px 24px;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          width: 70%;
          height: 4px;
          background: #0772F6;
          border-radius: 50px;
          margin: 0 auto;
          display: block;

        }
      }
    }

  }
}

:global(#the-process) {
  & header {
    & h2 {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #0772F6;
      padding: 4px 8px;
      background: #0772F633;
      border-radius: 10px;
      justify-self: center;
    }

    & p {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 50px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
      }

    }

    & a {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      background: transparent;
      box-shadow: none;
      padding: 0;
      pointer-events: none;
      border: 0;
      max-width: 689px;
      display: block;
      margin: 20px auto;
      color: #00000099;

      &:hover {
        background: transparent;
        padding: 0;
        box-shadow: none;
      }
    }

    &~div {
      gap: 0;
      padding-bottom: 180px;
     
      @media (max-width: 767px) {
        padding-bottom: 20px;
      }

      &>div {
        margin-bottom: 60px;
        margin-top: 20px;
        @media (max-width: 768px) {
          margin-bottom: 40px;
          margin-top: 10px;
        }

        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          &>div {
            width: auto;
            max-width: 436px;

          }
        }

        &:nth-child(2) {
          display: flex;
          margin-top: 0;

          &>div {
            width: auto;
            max-width: 436px;

            & * {

              @media (min-width: 768px) {
                text-align: right;
              }
            }

          }
        }

        &:nth-child(3) {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: flex-end;

          &>div {
            width: auto;
            max-width: 436px;

          }
        }

        & h3 {
          font-family: Poppins;
          font-weight: 700;
          font-style: Bold;
          font-size: 38px;
          leading-trim: NONE;
          line-height: 44px;
          letter-spacing: 0%;
          color: #000000;
          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
          }
          @media (max-width: 480px) {
            font-size: 20px;
            line-height: 28px;
          }
        }

        & p {
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;

          color: #00000099;
          @media (max-width: 768px) {
            font-size: 16px;
            line-height: 24px;
          }
          @media (max-width: 480px) {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }


    }

  }
}

:global(#section-listing) {
  & header {
    & h2 {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #0772F6;
      padding: 4px 8px;
      background: #0772F633;
      border-radius: 10px;
      justify-self: center;
    }

    & p {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 50px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
      }
    }

    & a {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      background: transparent;
      box-shadow: none;
      padding: 0;
      pointer-events: none;
      border: 0;
      max-width: 689px;
      display: block;
      margin: 20px auto;
      color: #FFFFFF99;

      &:hover {
        background: transparent;
        padding: 0;
        box-shadow: none;
      }
    }

    &~div {}

  }
}

:global(#testimonials) {
  & header {
    & h2 {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #0772F6;
      padding: 4px 8px;
      background: #0772F633;
      border-radius: 10px;
      justify-self: center;
    }

    & p {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 50px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
        justify-self: center;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
      }

    }

    & a {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      background: transparent;
      box-shadow: none;
      padding: 0;
      pointer-events: none;
      border: 0;
      max-width: 689px;
      display: block;
      margin: 20px auto;
      color: #00000099;

      &:hover {
        background: transparent;
        padding: 0;
        box-shadow: none;
      }
    }

    &~div {
      gap: 16px;
      padding-top: 39px;

      &>div {
        border: 1px solid #0772F61A;
        box-shadow: 2px 2px 16px 0px #0772F633;
        border-radius: 20px;
        padding: 36px 85px;
        @media (max-width: 768px) {
          padding: 32px 40px;
        }
        @media (max-width: 480px) {
          padding: 24px 24px;
        }

        & p {
          &:first-child {
            padding: 0;
            color: #FD5B2C;
          }

          &:nth-child(2) {
            font-family: Poppins;
            font-weight: 500;
            font-style: Medium;
            font-size: 26px;
            leading-trim: NONE;
            line-height: 100%;
            letter-spacing: 0%;

            color: #000000;
            padding: 0;
            margin: 12px 0 28px;
            @media (max-width: 768px) {
              font-size: 20px;
              line-height: 28px;
            }
            @media (max-width: 480px) {
              font-size: 18px;
              line-height: 24px;
            }
          }

        }

        & h5 {
          font-family: Inter;
          font-weight: 600;
          font-style: Semi Bold;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          color: #00000099;
          margin: 0;
          padding: 0;
        }

        & h6 {
          font-family: Inter;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: left;
          text-transform: inherit;
          color: #00000099;
          margin: 0;
          padding: 0;
          max-width: 100%;
          justify-self: left;
        }
      }

    }

  }
}

:global(#faq) {
  & header {
    & h2 {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
      text-transform: uppercase;
      color: #0772F6;
      padding: 4px 8px;
      background: #0772F633;
      border-radius: 10px;
      justify-self: center;
    }

    & p {
      font-family: Poppins;
      font-weight: 800;
      font-style: ExtraBold;
      font-size: 50px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: -5%;
      text-align: center;
      text-transform: uppercase;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 40px;
        line-height: 48px;
      }
      @media (max-width: 480px) {
        font-size: 32px;
        line-height: 40px;
        word-break: normal;
        hyphens: none;
        justify-self: center;
      }

    }

    & a {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      background: transparent;
      box-shadow: none;
      padding: 0;
      pointer-events: none;
      border: 0;
      /* max-width: 689px; */
      display: block;
      margin: 20px auto;
      color: #00000099;

      &:hover {
        background: transparent;
        padding: 0;
        box-shadow: none;
      }
    }

    &~div {}

  }
}

:global(#assignment) {
  max-width: 100vw;
  overflow: hidden;

  &>div {
    padding-bottom: 0;

    &>div {
      max-width: 100vw;
      overflow: hidden;
      padding: 0;
      gap: 0;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, calc((100% - 0px) / 2));
      }

      &>div {
        padding: 145px 16px;
        @media (max-width: 768px) {
          padding: 100px 16px;
        }
        @media (max-width: 480px) {
          padding: 80px 16px;
        }

        &>div {
          max-width: 436px;
          margin: 0 auto;
        }

        &:nth-child(1) {
          background: #0772F6;
        }

        &:nth-child(2) {
          background: #FD5B2C;
        }

        & h3 {
          background: #FFFFFF33;
          color: #FFFFFF;
          padding: 4px 8px;
          border-radius: 30px;
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 14px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          text-transform: uppercase;
          color: #FFFFFF;
          margin: 0 0 38px;
          text-align: left;
          justify-self: left;
          width: max-content;

          @media (max-width: 768px) {
            width: auto;
          }

        }

        & h4 {
          font-family: Poppins;
          font-weight: 900;
          font-style: Black;
          font-size: 38px;
          leading-trim: NONE;
          line-height: 44px;
          letter-spacing: 0%;
          text-align: left;
          justify-self: left;
          width: max-content;
          max-width: 436px;
          color: #FFFFFF;

          @media (max-width: 768px) {
            width: auto;
          }
        }

        & p {
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          color: #FFFFFF99;
          margin-top: 22px;
        }

        & a {
          margin-top: 48px;
          border: 1px solid #FFFFFF;
          border-radius: 38px;
          padding: 10px 44px;
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 20px;
          leading-trim: NONE;
          line-height: 100%;
          letter-spacing: 0%;
          color: #FFFFFF;
          background: transparent;
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          justify-self: left;

          &:after {
            content: '';

            display: block;
            width: 34px;
            height: 34px;
            background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.5971 22.1401C21.5002 22.122 21.4078 22.0851 21.3252 22.0313C21.2426 21.9775 21.1714 21.908 21.1157 21.8267C21.06 21.7454 21.0208 21.6539 21.0005 21.5574C20.9802 21.461 20.9791 21.3615 20.9972 21.2646L22.4183 13.6607L10.3004 21.9639C10.1363 22.0764 9.93428 22.119 9.73875 22.0825C9.54322 22.0459 9.37021 21.9332 9.25778 21.7692C9.14534 21.6051 9.1027 21.403 9.13923 21.2075C9.17575 21.012 9.28846 20.839 9.45254 20.7265L21.5705 12.4234L13.9664 11.0035C13.7707 10.967 13.5976 10.8542 13.4851 10.6901C13.3726 10.5259 13.33 10.3237 13.3665 10.1281C13.403 9.93245 13.5158 9.75935 13.68 9.64685C13.8442 9.53435 14.0463 9.49169 14.242 9.52823L23.6256 11.2811C23.7225 11.2992 23.8149 11.3361 23.8975 11.3899C23.9801 11.4437 24.0512 11.5132 24.107 11.5945C24.1627 11.6758 24.2018 11.7673 24.2221 11.8638C24.2425 11.9602 24.2436 12.0597 24.2254 12.1566L22.4725 21.5402C22.4545 21.6371 22.4175 21.7295 22.3637 21.8121C22.31 21.8947 22.2404 21.9659 22.1591 22.0216C22.0778 22.0773 21.9863 22.1164 21.8899 22.1368C21.7935 22.1571 21.694 22.1582 21.5971 22.1401Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: 34px 34px;
            background-repeat: no-repeat;
            background-position: center;


          }
        }

      }
    }
  }
}